@layer reset, base, utils, theme, components;

@layer reset {
    * {
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        user-select: none;
    }

    body {
        text-align: center;
        -webkit-font-smoothing: antialiased;
    }
}

@layer base {
    body {
        font-family: "Press Start 2P", cursive;
        color: var(--primary);
        background-color: var(--background-color);
    }
}

@layer theme {
    :root {
        --background-color: #ffe6cc;
        --primary: #2d2115;
        --border: #4b361b;
        --green: #3bc14a;
        --red: #bb4430;
        --yellow: #e1ca34;
        --blue: #3c91e6;
        --shadow: #2a1f12;
    }
    .dark-mode {
        --background-color: #1c150d;
        --primary: #bf9870;
        --border: #493019;
        --green: #298634;
        --red: #922714;
        --yellow: #b59e05;
        --blue: #1766b4;
        --shadow: #e8c7a5;
    }
}

@layer components {
    nav {
        padding: 1rem;
        display: flex;
        justify-content: space-between;

        .toggle-switch {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;
        }

        .toggle-switch-input {
            /* Tornar o input invisível, usar o label para estilizar */
            opacity: 0;
            position: absolute;
        }

        svg {
            width: 25px;

            &.lua path {
                fill: var(--blue);
            }
            &.sol path {
                fill: var(--yellow);
            }
        }
        .toggle-switch-label {
            /* Cria a "caixa" do switch */
            width: 3rem; /* 48px */
            height: 1.5rem; /* 24px */
            background-color: var(--primary); /* Cor de fundo da "caixa" */
            border-radius: 1.5rem; /* Faz a caixa ser arredondada */
            position: relative; /* Para posicionar o "botão" dentro */
            transition: background-color 0.3s ease; /* Transição suave na cor */
        }

        .toggle-switch-label::after {
            /* Cria o "botão" do switch */
            content: "";
            width: 1.125rem; /* 18px */
            height: 1.125rem; /* 18px */
            background-color: #fff; /* Cor do "botão" */
            border-radius: 50%; /* Faz o botão ser redondo */
            position: absolute;
            top: 0.1875rem; /* 3px */
            left: 0.1875rem; /* 3px */
            transition: transform 0.3s ease; /* Transição suave no movimento */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        /* Quando o input está marcado, move o "botão" para a direita */
        .toggle-switch-input:checked + .toggle-switch-label::after {
            transform: translateX(1.5rem); /* 24px */
        }
        /* Quando o input está marcado, muda a cor do label */
        .toggle-switch-input:checked + .toggle-switch-label {
            background-color: var(--primary);
        }

        .emphasis {
            color: var(--red);
        }
    }

    main {
        display: grid;
        grid-template: auto auto auto/1fr auto auto 1fr;
        justify-items: center;
        h1 {
            grid-area: 1/1 / 1/-1;
            margin: 5%;
            font-size: 3rem;
            align-self: center;
        }

        button {
            display: inline-block;
            margin: 25px;
            border: 10px solid var(--border);
            border-radius: 20%;
            width: 200px;
            height: 200px;

            &:hover {
                cursor: pointer;
                box-shadow: 0 0 1px var(--shadow), 0 0 2.5px var(--shadow),
                    0 0 5px var(--shadow), 0 0 7.5px var(--shadow),
                    0 0 10px var(--shadow), 0 0 15px var(--shadow);
            }
            outline: none;
        }

        #green {
            grid-area: 2/2;
            background-color: var(--green);
        }

        #red {
            grid-area: 2/3;
            background-color: var(--red);
        }

        #yellow {
            grid-area: 3/2;
            background-color: var(--yellow);
        }

        #blue {
            grid-area: 3/3;
            background-color: var(--blue);
        }
    }

    @media (max-width: 500px) {
        body {
            min-width: 300px;
        }
        main {
            h1 {
                font-size: 1.5rem;
            }
            button {
                display: hidden;
                min-width: 100px;
                min-height: 100px;
                width: 80%;
                height: 80%;
                &:hover {
                    cursor: pointer;
                    box-shadow: red;
                }
            }
        }
    }
}

@layer utils {
    .play {
        animation: animate 0.5s;
        animation-fill-mode: forwards;
        transform: scale(1.2);
        &:hover {
            box-shadow: none;
        }
        box-shadow: 0 0 10px var(--shadow), 0 0 15px var(--shadow),
            0 0 20px var(--shadow), 0 0 25px var(--shadow),
            0 0 30px var(--shadow), 0 0 35px var(--shadow);
    }

    .press {
        /* create a animation for press like button fisically is pressing*/
        animation: animate 0.5s;
        animation-fill-mode: forwards;
        transform: scale(0.8);
    }
}
